
<div id="comments">
<script src="https://giscus.app/client.js"
        data-repo="freshwind2004/nosame.live"
        data-repo-id="R_kgDOIM0fPw"
        data-category="Comments"
        data-category-id="DIC_kwDOIM0fP84CSODg"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</div>
